# Byte compiled
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
*.env
.env

# OS files
.DS_Store

# Pytest cache
.pytest_cache/

# Cache directories
.cache/
*.cache/

# VS Code
.vscode/

# Logs
*.log

# Notes
music_recommendation_systems.md

# Local instructions
instructions.txt

